{% extends 'commons/base.html.twig' %}
{% block title %}Profil{% endblock %}

{% block content %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                {% if messages is not empty %}
                    <div class="col-md-10 col-lg-8 col-xl-7 mb-3 alert {{ class }}">
                        {% for message in messages %}
                            {{ message }}<br />
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="col-md-10 col-lg-8 col-xl-7">
                    <form id="change-password-form" class="form-signin" method="post" action="index.php?action=change_password">
                        <div class="mb-3 form-label-group">
                            <label for="old_pwd">Mot de passe actuel :</label>
                            <input type="password" name="old_pwd" id="old_pwd" class="form-control" 
                                placeholder="Mot de passe actuel" required="" autofocus="" />
                        </div>

                        <div class="mb-3 form-label-group">
                            <label for="new_pwd">Nouveau mot de passe :</label>
                            <div id="pwdHelp" class="form-text">Au moins 8 caractères dont une minuscule, 
                                une majuscule, un chiffre et un caractère spécial.</div>
                            <input type="password" name="new_pwd" id="new_pwd" class="form-control" 
                            placeholder="Votre nouveau mot de passe" required="" aria-describedby="pwdHelp" />
                        </div>

                        <div class="mb-3 form-label-group">
                            <label for="pwd_confirm">Confirmez le mot de passe :</label>
                            <input type="password" name="pwd_confirm" id="pwd_confirm" class="form-control" 
                                placeholder="Confirmez votre mot de passe" required="" />
                        </div>

                        <input type="hidden" name="token" value="{{ session.token }}" />

                        <p class="text-center">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Modifier le mot de passe</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}