{% extends 'commons/base.html.twig' %}
{% block title %}Profil{% endblock %}

{% block content %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 mb-3">
                    <div class="d-grid gap-2 col-8 mx-auto">
                        <a class="btn btn-primary" href="index.php?action=change_password">Changer le mot de passe</a>
                        <a class="btn btn-primary" href="index.php?action=show_my_comments">Voir mes commentaires</a>
                    </div>
                </div>
            </div>
{% endblock %}